<?xml version="1.0"?>
<launch>

	<!-- send parameters to parameter server -->
	<rosparam command="load" ns="coverage_monitor_server" file="$(find ipa_room_exploration)/ros/launch/coverage_monitor_server_params.yaml"/>

	<!-- start coverage monitor action server -->
	<node ns="coverage_monitor_server" pkg="ipa_room_exploration" type="coverage_monitor_server" name="coverage_monitor_server" output="screen" respawn="true" respawn_delay="2">
	</node>

</launch>
